<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.mapper.SysMapper">
    <select id="getMenuList" resultType="MenuBean">
        SELECT
            *
        FROM
            tb_role_menu a
        left join tb_menu b on a.mid = b.mid where
            a.rid =#{rid}
    </select>
</mapper>